@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

*
{
    margin-left: 0;
    margin-right: 0;
}
body
{
    margin: 0;
}




.header{
    /* position: static; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    box-shadow: 0px 5px 10px gray;
}
.navbar-nav{
    margin-left: auto;
}
ul {
    list-style-type: none;
}
.navbar {
    background: white;
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
    /* position: fixed;
    top: 0;
    width: 100%; */
}
.navbar .navbar-brand{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    font-family: 'Monospace', cursive;
    font-size: 2rem;
    color: #e74c3c;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 2rem 1.2rem;
    font-size: 1rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-top: 4px solid #e74c3c;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    border-top: 4px solid #e74c3c;
    color: #e74c3c;
}
.navbar-nav button{
    padding: 1.2rem 0;
}
.navbar-nav .btn{
    background-color: #e74c3c;
    color: white;
    border-radius: 2;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: -10px;
}
.navbar-nav .btn:hover{
    background-color: #0a3d62;
}
.btn-margin{
    margin-left: 6px;
}
.nav-item{
    display: inline;
}

/* dropdown */
.nav-item ul{
    position: absolute;
    top: 60px;
    display: none;
}
.nav-item:hover > ul{
    display: block;
}
.nav-item ul a{
    display: block;
    padding: 0 15px;
    /* color: white; */
    background-color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 1rem;
}
.nav-item ul li{
    /* width: 150px; */
    float: none;
    display: list-item;
    position: relative;
}
.nav-item ul a:hover{
    color: white;
    background-color: #e74c3c;
}







h1
{
margin-left: 70px;
padding-top: 90px;
/*font-family:cursive;
font-size:35px;*/
}
.line
{
    position: relative;
    margin-top: -5px;
    width: 10%;
    margin-left: 70px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
}
.quote
{
   width:50%;
   height: 720px;
   float: left;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 20px;
    background-color:whitesmoke;
}
h3
{
    margin-top: 0.5rem;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.q
{
    border: 3px solid orangered;
    margin: 10px 10px 10px 10px;
    padding:30px 30px 50px 30px;
}
.q img
{
    width: 90%;
    margin-left: 20px;
    margin-top: -8px;
    margin-bottom: 0px;
}
p 
{

    font-size: 20px;
    font-family: 'Poppins';
    text-align: justify;
    letter-spacing: 2px;
}


h4
{
    margin-right: 250px;
    text-align: right;
    font-style: italic;
    font-size: 20px;
}
.vol
{
   
    margin-top: 75px;
    margin-left: 0;
    background-image:url("images/volhead.jpg");
    color: white;
    width: 100%;
    height: 220px;
}
.main
{
    background-color:orangered;
    opacity: 0.9;
    width: 40%;
    height: 720px;
    margin-top: 20px;
    float: right;
    margin-right: 50px;
}
.main input{
    border-radius: 10px;
}
h5
{
font-style: normal;
font-size: 30px;
font-family: cursive;
color: white;
margin-top: 1px;
text-align: center;
}
.name
{
    /* color: white; */
    margin-left: 15px;
margin-right: 5px;
margin-top: -10px;
}
#fname
{
    /* color: white; */
    margin-left: 15px;
    width: 92%;
    margin-top: 3px;
    margin-bottom: -20px;
    height: 30px;
    padding: 10px 10px 10px 10px;
}
.eid
{
    /* color: white; */
    margin-left: 15px;
margin-right: 5px;
/* margin-top: 1px; */
}
#eid
{
    /* color: white; */
    margin-left: 15px;
    width: 92%;
    margin-top: 3px;
    margin-bottom: -20px;
    height: 30px;
    padding: 10px 10px 10px 10px;
}
.phn
{
    /* color: white; */
    margin-left: 15px;
margin-right: 5px;
}
#phn
{
    /* color: white; */
    margin-left: 15px;
    width: 92%;
    margin-top: 3px;
    margin-bottom: -20px;
    height: 30px;
    padding: 10px 10px 10px 10px;
}

form
{
margin-left: 20px;
}
.add
{
    /* color: white; */
    margin-left: 15px;
margin-right: 5px;
}
#add
{
    /* color: white; */
    margin-left: 15px;
    width: 92%;
    margin-top: 3px;
    margin-bottom: -100px;
    height: 30px;
    padding: 10px 10px 10px 10px;
}
#city
{
    /* color: white; */
    margin-left: 15px;
    padding: 0;
}
.city
{
    /* color: white; */
    margin-left: 15px;
    width: 45%;
    margin-top: 3px;
    margin-bottom: -100px;
    height: 30px;
}
#state
{
    /* color: white; */
    margin-left: 232px;
}
.state
{
    margin-left: 25px;
   height: 30px;
   padding: 5px 25px 5px 25px;
   width: 41.5%;
}
#code
{
    /* color: white; */
    margin-left: 15px;
    padding: 0;
}

#country
{
    /* color: white; */
    margin-left: 180px;
}
.code
{
    margin-left: 15px;
    height: 30px;
    padding: 5px 25px 5px 25px;
    width: 45%;
}
.country
{
    margin-left: 25px;
    height: 30px;
    padding: 5px 25px 5px 25px;
    width: 41.5%;
}
#area2
{
    /* color: white; */
    margin-left: 15px;
}
.area2
{
    margin-left: 15px;
    width: 92%;
    height: 50px;
}
.submit
{
    margin-left: 200px;
    margin-top: 2px;
    font-size: 15px;
    cursor:pointer;
    transition:0.25px;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
}
.submit:hover
{
    background-color: black;
    color: white;
}
.area70
{
margin-top: 750px;
}
#area70
{
color: black;
font-family: 'Poppins';
font-size: 30px;
margin-top: 40px;
padding-top: 50px;
margin-left: 39%;
margin-bottom: 10px;
}
.line1
{
    /* position:relative; */
    margin-top: 11px;
    border:2px solid;
    border-color:#fd3838;
    width: 20%;
    margin-left: 38.5%;
    opacity: 1;
}
.container
{
    position: relative;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 110px;
    margin-right: 20px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 420px;
    margin: 10px;
    background: black;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
.container .box .content
{
    padding: 30px;
    font-family: 'Poppins';
    text-align: center;
}
.fa-quote-right
{
    font-size:28px;
color:orangered;
}
.container .box .content .user
{
    max-width: 72px;
    border-radius: 50%;
}
.container .box .content h3
{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}
.container .box .content .t
{
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    letter-spacing:1px;
    font-size: 18px;
}
.container .box:hover
{
    background-color: orangered;
    transform: scale(1.1);
}


.line-5{
    position:relative;
    margin-top: 18px;
    margin-bottom: 18px;
    border:1px solid;
    border-color: gray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

.footer-div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    color: gray;
}

.footer-div a{
    text-decoration: none;
    color: gray; 
}
.footer-div a:hover{
    color: #e74c3c;
}
.social-links{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.footer-div .link{
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}